.DS_Store

# IDE Files
#-------------------------
/nbproject/
.idea/
.idea/*

#codeigniter 3
!application/*/.htaccess
application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
import/*
!import/index.html
!import/.htaccess
!import/*/index.html
!import/*/.htaccess
upload/*
!upload/index.html
!upload/.htaccess
!upload/*/index.html
!upload/*/.htaccess

.env
!.env.example

composer.lock

.editorconfig

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
